.header {
  height: 55px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(228, 228, 228);
}

.left-section {
  display: flex;
  align-items: center;
}

.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 600px;
  display: flex;
  align-items: center;
}

.search-bar {
  flex: 1;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid rgb(192, 192,192);
  box-shadow: inset 1px 2px 5px rgba(0, 0, 3, 0.05);
  width: 0;
  border-radius: 2px;
  box-sizing: border-box;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.search-bar:focus {
  border-color: rgb(64, 147, 255);
  outline: none;
}

.search-bar::placeholder {
  font-size: 16px;
}

.search-icon {
  height: 24px;
}

.search-button {
  height: 40px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 10px;
  cursor: pointer;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  transition: background-color 0.15s;
}

.search-button:hover {
  background-color: rgb(230, 230, 230);
}

.search-button:active {
  background-color: rgb(220, 220, 220);
}

.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-apps-container,
.notifications-icon-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-container .tooltip,
.notifications-icon-container .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-container:hover .tooltip,
.notifications-icon-container:hover .tooltip {
  opacity: 1;
}

.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(245, 245, 245);
  cursor: pointer;
  transition: background-color 0.15s;
}

.voice-search-button:hover {
  background-color: rgb(235, 235, 235);
}

.voice-search-icon {
  height: 24px;
}

.right-section {
  margin-right: 20px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-logo {
  height: 20px;
}

.upload-icon {
  height: 24px;
}

.youtube-apps-icon {
  height: 24px;
}

.notifications-icon {
  height: 24px;
}

.notifications-count {
  position: absolute;
  top: -2px;
  right: -5px;
  background-color: rgb(223, 0, 0);
  color: white;
  font-size: 11px;
  padding: 2px 5px;
  border-radius: 10px;
}

.current-user-picture {
  height: 32px;
  border-radius: 16px;
}

.notifications-icon:hover,
.upload-icon:hover,
.youtube-apps-icon:hover,
.current-user-picture:hover,
.hamburger-menu:hover {
  cursor: pointer;
}

@media (max-width: 600px) {

  .right-section {
    margin-right: 0;
    flex-shrink: 1;
    padding-right: 5px;
  }

  .middle-section {
    margin-right: 5px;
  }

  .search-bar {
    flex: 0;
  }

  .voice-search-button {
    margin-left: -8px;
  }
}
